node_modules
*.tsbuildinfo

.vscode/

lib/
dist/
coverage/

# 0x profile flame graph
*.0x/

# node profiler logs
benchmark/*.log
benchmark/*.txt

# vscode profiler logs
*.heapprofile
*.cpuprofile

# dev
tests/dev.test.ts
tests/path/dev.test.ts
dev.js
dev.mjs
dev.ts

# system
.DS_Store